.profile-area {
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.profile-area-info-container {
    position: absolute;
    inset: 0;
    border-radius: 10px;
    overflow-y: auto;
    scroll-behavior: smooth;
}

.profile-area .non-selected-text {
    color: var(--text-color);
    display: grid;
    place-items: center;
    height: 100%;
}

.profile-area .profile-pic-area {
    text-align: center;
    padding: 10px;
    margin: 1.5rem 10px;
}

.profile-area .profile-pic-area .profile-name {
    font-size: 1.5rem;
    text-transform: lowercase;
    color: var(--text-color);
}

.profile-area .profile-pic-area .profile-number {
    color: var(--text-color);
    font-size: calc(1rem - 3px);
}

.profile-area .profile-pic-area .pic>img {
    width: 10rem;
    height: 10rem;
    background-color: transparent;
    outline: none;
    border: none;
    border: 1px solid var(--text-color-less);
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
    cursor: pointer;
}

.profile-area .profile-info-about {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    padding: 10px;
    margin-bottom: calc(1rem - 5px);
}

.profile-area .profile-info-about .about .about-head {
    color: var(--text-color-less);
    font-size: 10px;
}

.profile-area .profile-info-about .about .about-value {
    color: var(--text-color);
}

.profile-area .profile-body .group-participant-contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    padding: 5px;
    cursor: pointer;
    border-radius: 10px;
    margin-bottom: 10px;
}

.profile-area .profile-body .group-participant-contact:hover {
    background-color: var(--contact-list-hover-color);
}

.profile-area .profile-body .group-participant-contact>img {
    width: 2rem;
    height: 2rem;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

.profile-body .profile-body-header{
    position: relative;
    font-weight: 600;
    padding: 5px;
    color: var(--text-color);
}

.profile-body .profile-body-header::before{
    content: "";
    position: absolute;
    inset: 0;
    border-bottom: 1px solid var(--text-color-less);
}

.profile-area .profile-body .group-participant-contact>p {
    font-size: small;
    text-transform: lowercase;
}

.profile-area .profile-footer {
    color: red;
}

.profile-area .profile-footer :is(.profile-block, .profile-chat) {
    display: flex;
    align-items: center;
    justify-items: flex-start;
    padding: 10px;
    gap: 10px;
    cursor: pointer;
}

.profile-area .profile-footer :is(.profile-block, .profile-chat):hover {
    background-color: #7ec9dc;
    transition: all .3s linear;
}

.profile-area .profile-footer .profile-exit {
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 5px;
    padding: 5px;
    border-radius: 10px;
}

.profile-area .profile-footer .profile-exit:hover {
    background-color: var(--contact-list-hover-color);
}

.profile-area .profile-footer .profile-block:hover,
.profile-area .profile-footer .profile-chat:hover{
    background-color: var(--contact-list-hover-color);
}

.profile-info-match .group-info{
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px;
}

.profile-info-match .group-info > .group-icon{
    font-size: large;
    font-weight: 400;
}

.profile-info-match .group-info > span{
    color: var(--text-color);
}